* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1600px;
}
h2 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 3%;
    font-size: 40px;
}
h4 {
    text-transform: capitalize;
    text-align: center;
    margin: 8px 0;
    background-color: #008083;
    color: #fff;
    padding: 10px 0;
    font-size: 25px;
}

.btn {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    background-color: #FE6347;
    padding: 10px 23px;
    margin-top: 10px;
    display: inline-block;
}
section {
    margin: 3% 0;
    padding: 3% 0;
}
#header {
    width: 80%;
    margin: 0 auto;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.logo a {
    text-decoration: none;
    font-size: 25px;
}
.menu ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}
.menu ul li:last-child {
    margin: 0;
}
.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
/* Banner CSS */
.banner {
    margin-top: 2%;
    min-height: 420px;
}
.banner-img {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 1px;
}
.banner-img img {
    width: 100%;
}
/* Main part CSS */

/* About CSS */
#about {
    width: 80%;
    margin: 0 auto;
}
.about-text {
    margin-top: 2%;
}
.about-text h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 40px
}
.about-text p {
    text-align: center;
    margin: 10px 0;
}
.about-items {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.about-item {
    width: 32%;
    text-align: center;
    border: 1px solid #EEEEEE;
    padding: 30px;
}
.about-item h3 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.about-item img {
    width: 7%;
}
/* Service CSS */
#service {
    background-color:#F2F2F2 ;
}

.service {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  
.service-item {
    width: 32%;
    background-color: #ffffff;
    padding: 15px;
}
.service-item img {
    width: 100%;
}
.service-items {
    display: flex;
    justify-content: space-between;
  }
.service-item p {
    font-size: 18px;
    margin: 5px 0;
}
  